body {
	margin:0;
}
nav ul {
  text-align: center;
    padding:0;
    margin: 0;
}

/*navigation*/
nav.navigation {
	background-color: #a6a6a6;
	margin:0;
	padding: 15px;
	text-align: center;
}

nav.navigation li {
	display: inline-block;
  margin: 0 15px;
}

nav.navigation a  {
	background-color: #a6a6a6;
	margin: 0 15px;
	padding: 10px;
	text-decoration: none;	
}


nav.navigation a:hover {
	background-color: yellow;
	color: red;
	text-decoration: none;
	transition: .2s all ease-in-out;
}


/*buttons*/
section {
  padding: 50px;
  text-align: center;
}
button {
    border:1px solid transparent;
    cursor: pointer;
  	display:inline-block;
  	font-size:15px;
    margin: 15px;
  	padding: 8px 15px;
  	text-decoration: none;
  	text-align:center;
}
#button1 {
  background-color:  #666699;
  border: 1px solid #3F7CAC;
  border-radius: 4px;
  color: #ffffff;
}
#button1:hover {
  background-color: #ff6600;
  border: 1px solid #E2F89C;
  color: #3F7CAC;
  padding: 5px;
}
#button2 {
  background-color: #3399ff;
  border: 1px solid #084C61;
  border-radius: 8px;
  color: #ffffff;
  padding: 15px;
}
#button2:hover {
  background-color: #ff6600;
  border: 1px solid #56A3A6;
  color: #084C61;
}
#button3 {
  background-color: #DB504A;
  border: 1px solid #DB504A;
  border-radius: 10px;
  color: #F2F2F2;
  padding: 25px;
}
#button3:hover {
  background-color: #ff6600;
  border: 1px solid #F2F2F2;
  color: #DB504A;
}
